.link {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-nav {
  text-decoration: none;
  padding-top: 40px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.button,
.modal-form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero button,
.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button.primary,
.hero-button,
.button:hover,
.button:focus,
.container-button-item .button:hover,
.container-button-item .button:focus {
  color: var(--link-text-color);
  background-color: var(--accent-color);
}
/* логотип*/
.logo,
.logo-text-footer {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .web,
.logo-text-footer .web,
.adress-footer:hover,
.adress-footer:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.curent {
  color: var(--accent-color);
}
/* Site-nav  */
.site-nav {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation .logo {
  margin-right: 85px;
}
.nav-list-link {
  position: relative;
  padding-bottom: 40px;
}
.nav-list-link:not(:last-child) {
  margin-right: 50px;
}
.container .adress-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.curent::after {
  display: block;
  content: "";
  width: 100%;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0px;
}
.adress-link:not(:last-child) {
  margin-right: 30px;
}
.site-nav .link,
.section-title2,
.section-title-osob,
.section-title-comand,
.section-title-portf,
.modal-form-title {
  color: var(--title-text-color);
}
.adress-item a:hover {
  color: var(--accent-color);
}
.adress-item a:hover svg {
  fill: var(--accent-color);
}
.adress-link a,
.adress-footer {
  color: var(--primary-text-color);
  font-weight: 500;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.icon-envelope {
  width: 16px;
  height: 11.2px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.icon-tel {
  width: 10px;
  height: 14.9px;
  fill: var(--primary-text-color);
  margin-right: 10px;
}
