.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container .portfolio,
.container .osob-container,
.container .job-container,
.container .bgr-comand,
.container .container-sosial,
.container .container-clients,
.container .container-portfolio,
.portfolio-position-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
